@charset "utf-8";

.css-1arh9bj { opacity: 1; transform: scale(1); transform-origin: 50% 50%; transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 50ms; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; }
