@charset "utf-8";

.css-qw898r { max-width: 100%; position: absolute; bottom: 0px; z-index: 2; display: flex; align-items: flex-end; will-change: width, height, transform, opacity; backface-visibility: hidden; padding: 0.8em 0.8em 0px; right: 0px; -webkit-box-pack: end; justify-content: flex-end; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; }
