@charset "utf-8";

.elementor-top-section.sf-big-hero { }

.elementor-top-section.sf-big-hero .sf-hero-cta { background: rgb(255, 255, 255); border-radius: 10px; margin: 0px 20px; transition: all 0.3s ease-out 0s; transform: translateY(64px); max-width: 475px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-bottom { display: none; }

.elementor-top-section.sf-big-hero .elementor-row { align-self: flex-end; justify-content: center; }

.elementor-top-section.sf-big-hero .sf-hero-cta .elementor-widget-wrap { position: relative; transition: all 0.3s ease-out 0s; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px; height: 100%; border-radius: 10px; padding: 46px 65px 102px !important; }

.elementor-top-section.sf-big-hero .sf-hero-cta-icon { position: absolute; top: 0px; left: 50%; transform: translate(-50%, -48%); background: rgb(255, 255, 255); width: 105px; height: 105px; margin-left: auto; margin-right: auto; border-radius: 55px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-icon i { position: absolute; top: 50%; left: 54%; color: rgb(0, 0, 0); font-size: 34px; transform: translate(-50%, -50%) !important; }

.elementor-top-section.sf-big-hero .sf-hero-cta-title .elementor-heading-title { font-size: 40px; font-weight: 700; padding: 0px 0px 10px; text-align: center; }

.elementor-top-section.sf-big-hero .sf-hero-cta-copy { font-size: 20px; font-style: italic; padding: 0px 0px 30px; text-align: center; line-height: 1.26em; }

.elementor-top-section.sf-big-hero .sf-hero-cta-copy p { padding: 0px; margin: 0px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan, .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price { text-align: center; color: rgb(0, 0, 0); }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price big { display: inline-block; font-size: 50px; font-weight: 700; line-height: 100%; }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly big { position: relative; padding-right: 50px; min-height: 50px; line-height: 50px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly sup { position: absolute; height: 0px; line-height: 1; vertical-align: baseline; top: 0px; font-size: 30px; font-weight: 700; margin: 0px; padding: 0px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly sub { position: absolute; height: 26px; line-height: 26px; vertical-align: top; bottom: 0px; font-size: 25px; font-weight: 400; }

.elementor-top-section.sf-big-hero .sf-hero-cta-payplan small { font-size: 14px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-footer { position: absolute; bottom: 0px; left: 0px; right: 0px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-footer a.elementor-button-link { padding: 20px 65px; font-size: 24px; font-weight: 600; width: 100%; border-radius: 0px 0px 10px 10px; background: rgb(214, 54, 46); text-decoration: none; }

.elementor-top-section.sf-big-hero .sf-hero-cta-footer a.elementor-button-link:active, .elementor-top-section.sf-big-hero .sf-hero-cta-footer a.elementor-button-link:focus { outline: none; }

.elementor-top-section.sf-big-hero .sf-hero-cta-featured .sf-hero-cta-footer a { background: rgb(246, 197, 68); color: rgb(0, 0, 0); }

.elementor-top-section.sf-big-hero .sf-hero-cta-featured .sf-hero-cta-payplan, .elementor-top-section.sf-big-hero .sf-hero-cta-featured .sf-hero-cta-payplan-price { color: rgb(19, 155, 24); }

.elementor-top-section.sf-big-hero .sf-hero-cta-featured-mark { position: absolute; top: 104px; left: 0px; background: rgb(246, 197, 68); max-width: 100px; font-size: 15px; font-weight: 700; padding: 8px 15px; height: 32px; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; }

.elementor-top-section.sf-big-hero .sf-hero-cta-featured-mark::after { position: absolute; top: 0px; right: -3px; content: " "; border-width: 16px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; border-image: initial; }

@media screen and (min-width: 1025px) {
  .elementor-top-section.sf-big-hero .sf-hero-cta:hover .elementor-widget-wrap { height: 105%; }
}

@media screen and (max-width: 767px) {
  .elementor-top-section.sf-big-hero { max-height: 376px; }
  .elementor-top-section.sf-big-hero .elementor-row { column-gap: 8px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta { margin: 248px 0px 0px; flex: 1 1 33%; width: 50%; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-bottom { display: block; text-align: center; margin-top: 60px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-bottom .elementor-button-text { font-style: italic; font-size: 20px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-bottom .elementor-button-text::after { display: block; margin: 20px 0px 0px; padding: 0px; font-style: normal; content: ""; }
  .elementor-top-section.sf-big-hero .sf-hero-cta .elementor-widget-wrap { padding: 55px 10px 66px !important; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-icon { position: absolute; width: 74px; height: 74px; border-radius: 50%; transform: translate(-50%, -30%); }
  .elementor-top-section.sf-big-hero .sf-hero-cta-icon i { font-size: 24px; font-weight: 700; transform: translate(-50%, -64%) !important; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-title .elementor-heading-title { font-size: 25px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-copy { font-size: 16px; padding: 0px 0px 5px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-copy p { padding: 0px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price big { font-size: 30px; min-height: 30px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price small { font-size: 10px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly big { padding-left: 30px; line-height: 30px; min-height: 30px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly sup { font-size: 17px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-payplan-price.has-monthly sub { font-size: 14px; height: 14px; line-height: 14px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-footer { }
  .elementor-top-section.sf-big-hero .sf-hero-cta-footer a.elementor-button-link { padding: 20px 65px; font-size: 16px; font-weight: 600; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-featured-mark { top: 11px; max-width: 63px; font-size: 10px; padding: 8px 6px; height: 26px; }
  .elementor-top-section.sf-big-hero .sf-hero-cta-featured-mark::after { border-width: 14px; }
}

.elementor-section.sf-section-offer { margin-left: auto; margin-right: auto; max-width: 1360px; }

.elementor-section.sf-section-offer .elementor-widget-wrap { border-radius: 10px; overflow: hidden; }

.elementor-section.sf-section-offer .sf-section-offer-img { min-height: 370px; }

.elementor-section.sf-section-offer .sf-section-offer-img > .elementor-column-wrap { border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; }

.elementor-section.sf-section-offer .sf-section-offer-text > div { max-width: 480px; margin-right: 25px; }

.elementor-section.sf-section-offer .sf-section-offer-subtitle .elementor-heading-title { font-size: 25px; margin-bottom: 14px; padding: 0px; }

.elementor-section.sf-section-offer .sf-section-offer-title .elementor-heading-title { font-size: 65px; margin-bottom: 22px; padding: 0px; }

.elementor-section.sf-section-offer .sf-section-offer-copy > .elementor-widget-container p { font-size: 20px; line-height: 1.25em; }

.elementor-section.sf-section-offer .sf-section-offer-cta { background: rgb(19, 155, 24); }

.elementor-section.sf-section-offer .sf-section-offer-cta1 { color: rgb(255, 255, 255); font-size: 65px; font-weight: 700; padding-left: 15px; white-space: nowrap; }

.elementor-section.sf-section-offer .sf-section-offer-cta2 { color: rgb(255, 255, 255); font-size: 25px; font-weight: 700; }

.elementor-section.sf-section-offer .sf-section-offer-cta3 { text-align: right; padding-right: 10px; }

.elementor-section.sf-section-offer .sf-section-offer-cta-link-label { display: none; }

.elementor-section.sf-section-offer .sf-section-offer-cta3 i { color: rgb(255, 255, 255); font-size: 40px; padding-top: 6px; }

.elementor-section.sf-section-offer { margin-left: auto; margin-right: auto; max-width: 1360px; margin-bottom: 60px; }

@media screen and (max-width: 767px) {
  .elementor-section.sf-section-offer .sf-section-offer-text > div { margin-left: 0px; margin-right: 0px; margin-bottom: 30px; }
  .elementor-section.sf-section-offer .sf-section-offer-subtitle .elementor-heading-title { font-size: 25px; }
  .elementor-section.sf-section-offer .sf-section-offer-title .elementor-heading-title { font-size: 50px; }
  .elementor-section.sf-section-offer .sf-section-offer-copy .elementor-widget-container p { font-size: 20px; line-height: 1.3em; }
  .elementor-section.sf-section-offer .sf-section-offer-img { min-height: 256px; }
  .elementor-section.sf-section-offer .sf-section-offer-cta2 { padding: 18px 18px 0px; width: 100%; order: 0; text-align: left; }
  .elementor-section.sf-section-offer .sf-section-offer-cta1 { font-size: 30px; padding: 12px 0px 18px 18px; order: 1; }
  .elementor-section.sf-section-offer .sf-section-offer-cta3 { order: 2; white-space: nowrap; padding: 18px 10px 10px 0px !important; }
  .elementor-section.sf-section-offer .sf-section-offer-cta3 i { font-size: 28px; }
  .elementor-section.sf-section-offer .sf-section-offer-cta-link-label { display: inline-block; color: rgb(255, 255, 255); font-size: 15px; font-weight: 700; width: auto; margin-right: 12px; margin-top: 2px; }
  .elementor-section.sf-section-offer .sf-section-offer-cta-link { display: inline-block; width: auto; }
}

.elementor-section.sf-section-bgcta .sf-section-bgcta-content > .elementor-column-wrap { border-radius: 10px; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-content::after { position: absolute; top: 0px; left: 0px; width: 100%; bottom: 0px; border-radius: 10px; content: " "; background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%); transform: rotate(-180deg); }

.elementor-section.sf-section-bgcta .sf-section-bgcta-content .elementor-widget-wrap { z-index: 2; color: rgb(255, 255, 255); min-height: 420px; padding-top: 220px !important; padding-left: 90px !important; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-subtitle .elementor-heading-title { font-size: 25px; color: rgb(255, 255, 255); margin-bottom: 10px; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-title .elementor-heading-title { font-size: 60px; color: rgb(255, 255, 255); margin-bottom: 8px; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-copy .elementor-widget-container p { font-size: 20px; font-style: italic; line-height: 1.25em; color: rgb(255, 255, 255); margin-bottom: 56px; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-btn { position: absolute; bottom: -28px; width: 340px; }

.elementor-section.sf-section-bgcta .sf-section-bgcta-btn .elementor-button-text { font-size: 18px; }

@media screen and (max-width: 767px) {
  .elementor-section.sf-section-bgcta .sf-section-bgcta-content > .elementor-column-wrap { border-radius: 0px; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-content::after { border-radius: 0px; }
  .elementor-section.sf-section-bgcta > .elementor-container > .elementor-row { margin-left: 0px !important; margin-right: 0px !important; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-content .elementor-widget-wrap { color: rgb(255, 255, 255); min-height: 420px; padding-top: 240px !important; padding-left: 30px !important; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-img img { min-height: 100vh; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-title .elementor-heading-title { font-size: 55px; margin-bottom: 20px; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-copy .elementor-widget-container p { font-size: 16px; line-height: 1.45em; margin-bottom: 40px; padding-right: 60px; }
  .elementor-section.sf-section-bgcta .sf-section-bgcta-btn .elementor-button-text { font-size: 16px; }
}

.sf-section-eventscta-imgwrapper { width: 58%; min-height: 472px; }

.sf-section-eventscta-imgwrapper .elementor-column-wrap { border-radius: 10px; }

.sf-section-eventscta-textwrapper { width: 42%; }

.sf-section-eventscta-textwrapper .elementor-widget-wrap { padding-left: 35px; }

.sf-section-eventscta-subtitle .elementor-widget-container { margin-bottom: 24px; padding-left: 35px; }

.sf-section-eventscta-title .elementor-widget-container { padding-left: 35px; margin-bottom: 32px; }

.sf-section-eventscta-copy .elementor-widget-container { padding-left: 35px; margin-bottom: 35px; }

.sf-section-eventscta-btn .elementor-widget-container { padding-left: 35px; }

.sf-section-eventscta-subtitle .elementor-heading-title { font-size: 25px; font-weight: 700; }

.sf-section-eventscta-title .elementor-heading-title { font-size: 55px; font-weight: 700; }

.sf-section-eventscta-copy { font-size: 16px; font-weight: 700; line-height: 1.25em; }

@media screen and (max-width: 767px) {
  .elementor-section.sf-section-eventscta .elementor-container .elementor-row { min-height: 472px; }
  .sf-section-eventscta-imgwrapper { width: 100vw; min-height: 340px; }
  .sf-section-eventscta-imgwrapper .elementor-column-wrap { border-radius: 0px; }
  .sf-section-eventscta-textwrapper { width: 100%; margin-top: 15px; }
  .sf-section-eventscta-subtitle .elementor-widget-container { margin-bottom: 10px; padding-left: 35px; padding-right: 20px; }
  .sf-section-eventscta-title .elementor-widget-container { padding-left: 35px; padding-right: 20px; margin-bottom: 16px; }
  .sf-section-eventscta-copy .elementor-widget-container { padding-left: 35px; padding-right: 20px; margin-bottom: 32px; }
  .sf-section-eventscta-btn .elementor-widget-container { padding-left: 35px; padding-right: 20px; }
  .sf-section-eventscta-subtitle { text-align: right; }
  .sf-section-eventscta-title .elementor-heading-title { font-size: 50px; line-height: 1.2em; }
  .sf-section-eventscta-title { text-align: right; }
  .sf-section-eventscta-copy { text-align: right; }
}

.elementor-section.sf-section-moreservices .sf-section-moreservices-title .elementor-heading-title { font-size: 55px; font-weight: 700; margin-bottom: 10px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-text > .elementor-column-wrap > .elementor-widget-wrap { align-content: space-between; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-copy .elementor-widget-container { font-size: 24px; line-height: 1.25em; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-titlearea { margin-bottom: 0px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-ctas { margin-top: 20px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-ctas > .elementor-container > .elementor-row { justify-content: space-between; gap: 1rem; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-ctas > .elementor-container > .elementor-row > .elementor-column { max-width: 392px; border-radius: 10px; overflow: hidden; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .elementor-section.sf-section-moreservices .sf-section-moreservices-ctas > .elementor-container > .elementor-row > .elementor-column { max-width: 220px; }
}

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta { min-height: 320px; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-title { position: absolute; top: 0px; left: 0px; width: 100%; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-title .elementor-heading-title { text-align: center; font-size: 40px; padding-top: 20px; color: rgb(255, 255, 255); height: 80px; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta > .elementor-column-wrap > .elementor-widget-wrap::before { position: absolute; top: 0px; left: 0px; width: 100%; bottom: 0px; content: " "; background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.192) 100%); transform: rotate(-180deg); }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-icon { position: absolute; top: 50%; left: 50%; width: 104px; height: 104px; transform: translate(-50%, -30%); }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-icon .elementor-widget-container { width: 104px; height: 104px; border-radius: 50px; display: flex; justify-content: center; align-items: center; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-icon .elementor-icon { width: 104px; height: 104px; display: flex; justify-content: center; align-items: center; font-size: 28px; color: rgb(255, 255, 255); }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-copy { }

.elementor-section.sf-section-moreservices .sf-section-moreservices-text .elementor-text-editor p { margin-top: 0px; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-copy .elementor-widget-container { text-align: center; font-size: 20px; padding: 8px 15px; font-weight: 300; }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-button { }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-button .elementor-button-link { margin-top: 20px; background: 0px 0px; border: 2px solid rgb(0, 0, 0); color: rgb(0, 0, 0); }

.elementor-section.sf-section-moreservices .sf-section-moreservices-cta-button .elementor-button-link:hover { background: 0px 0px; border: 2px solid rgb(90, 165, 220); color: rgb(90, 165, 220); }

.elementor-section.sf-section-moreservices .sf-section-moreservices-dots-wrapper { display: none; }

@media screen and (max-width: 1720px) {
  .elementor-section.sf-section-moreservices .sf-section-moreservices-cta-title .elementor-heading-title { font-size: 2vw; height: 6vw; }
}

@media screen and (max-width: 767px) {
  .elementor-section.sf-section-moreservices { min-height: 600px; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-ctas > .elementor-container > .elementor-row > .elementor-column { border-radius: 20px; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-cta { }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-cta-icon .elementor-icon { font-size: 40px; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-title .elementor-heading-title { font-size: 45px; max-width: 80%; margin-bottom: 20px; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-cta-title .elementor-heading-title { font-size: 40px; height: 80px; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-copy .elementor-widget-container { font-size: 16px; max-width: 86%; font-weight: 300; line-height: 1.35em; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-text .elementor-text-editor { font-size: 16px; }
  .elementor-section.sf-section-moreservices .mainarea .element { position: absolute; top: 0px; left: 50%; transform: translateX(-50%) scale(0.7); z-index: 20; transition: all 0.3s ease-out 0s; }
  .elementor-section.sf-section-moreservices .mainarea .element[data-position="prev"] { left: 50%; transform: translateX(-30%) scale(0.5); z-index: 10; }
  .elementor-section.sf-section-moreservices .mainarea .element[data-position="next"] { left: 50%; transform: translateX(-70%) scale(0.5); z-index: 10; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-dots-wrapper { position: absolute; top: 0px; left: 50%; transform: translateX(-50%); display: block; margin: 0px; padding: 0px; list-style: none; text-align: center; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-dots-wrapper li { display: inline-block; width: 15px; height: 15px; margin: 0px 8px; border-radius: 8px; transition: background 0.3s ease-out 0s; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-dots-wrapper li:not([data-position="selected"]) { background: rgb(191, 191, 191) !important; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-text { position: absolute; top: 272px; opacity: 0; transition: opacity 0.3s linear 0s; z-index: -1; }
  .elementor-section.sf-section-moreservices .sf-section-moreservices-text[data-position="selected"] { opacity: 1; z-index: 10; }
}

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-intro { min-width: 360px; padding-right: 20px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-title .elementor-text-editor > * { font-size: 55px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-copy .elementor-widget-container { font-size: 20px; font-weight: 300; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-cta { margin-top: 28px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper { overflow-x: auto; padding-bottom: 8px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper > .elementor-container > .elementor-row { min-width: 1080px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper > .elementor-container > .elementor-row > .elementor-column { }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper .elementor-widget-sf-products-card-v2 { position: relative; margin: 0px 4px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper::-webkit-scrollbar-track { border-radius: 3px; border: 1px solid rgb(230, 230, 230); }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper::-webkit-scrollbar { height: 7px; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper::-webkit-scrollbar-thumb { border-radius: 3px; background-color: rgb(230, 230, 230); }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-dots-wrapper { display: none; }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-dots-wrapper .dot { display: inline-block; margin: 5px 2px; height: 22px; width: 22px; border-radius: 11px; border: 4px solid rgb(255, 255, 255); background: rgb(230, 230, 230); }

.elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-dots-wrapper .dot:not(.selected) { box-shadow: none !important; }

@media screen and (max-width: 767px) {
  .elementor-section.sf-section-featuredpasses .sf-section-quickpasses-intro { padding-right: 0px; }
  .elementor > .elementor-inner > .elementor-section-wrap > .elementor-section.sf-section-featuredpasses > .elementor-container > .elementor-row { margin: 0px; }
  .elementor-section.sf-section-featuredpasses .sf-section-quickpasses-intro { margin: 0px 25px 30px; }
  .elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-dots-wrapper { display: block; width: 100%; text-align: center; margin: 16px 0px 0px; }
  .elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-wrapper .elementor-container .elementor-row { flex-wrap: nowrap; }
  .elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-cta { display: none; }
  .elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-title .elementor-text-editor > * { font-size: 45px; }
  .elementor-section.sf-section-featuredpasses .sf-section-featuredpasses-copy .elementor-widget-container { font-size: 16px; }
}

body[data-elementor-device-mode="tablet"] section.sf-collapsed-footer, body[data-elementor-device-mode="desktop"] section.sf-collapsed-footer { margin-bottom: -60px; }

body[data-elementor-device-mode="mobile"] section.sf-collapsed-footer { margin-bottom: -15px; }

.entry-content .sf-heading-block-tickets .elementor-widget-container, .entry-content .sf-heading-block-passes .elementor-widget-container, .entry-content .sf-heading-block-memberships .elementor-widget-container { text-align: center; font-family: "itc kabel std-bold"; text-transform: uppercase; font-size: 1rem; }

.entry-content .sf-heading-block-tickets .elementor-widget-container { color: rgb(0, 0, 0); background: linear-gradient(0deg, rgb(255, 199, 13) 0%, rgb(255, 226, 29) 100%); }

.entry-content .sf-heading-block-passes .elementor-widget-container { color: rgb(255, 255, 255); background: linear-gradient(0deg, rgb(224, 33, 33) 0%, rgb(240, 65, 65) 100%); }

.entry-content .sf-heading-block-memberships .elementor-widget-container { color: rgb(255, 255, 255); background: linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(116, 115, 115) 100%); }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .elementor-top-section.sf-big-hero .sf-hero-cta { margin: 326px 10px; max-width: 334px; }
  .elementor-top-section.sf-big-hero .elementor-row { flex-wrap: nowrap; }
}

@media (max-width: 1024px) {
  .entry-content .sf-heading-block-tickets, .entry-content .sf-heading-block-passes, .entry-content .sf-heading-block-memberships { display: flex; justify-content: center; height: 100%; width: 100%; }
  .entry-content .sf-heading-block-tickets .elementor-widget-container, .entry-content .sf-heading-block-passes .elementor-widget-container, .entry-content .sf-heading-block-memberships .elementor-widget-container { overflow-wrap: anywhere; padding: 5px 10px; }
  .vertical-text .elementor-widget-container { writing-mode: tb; margin: auto; }
  .justify-content-center { display: flex; justify-content: center; }
}

@media (min-width: 1025px) {
  .entry-content .sf-heading-block-tickets .elementor-widget-container, .entry-content .sf-heading-block-passes .elementor-widget-container, .entry-content .sf-heading-block-memberships .elementor-widget-container { min-width: 174px; width: auto; padding: 10px 20px; font-size: 1rem; display: inline-block !important; }
}

.elementor-button-wrapper #list-more.elementor-button:focus { background-color: rgb(27, 103, 236); }
