@charset "utf-8";

.sf-aside-popular-pages { margin: 15px 0px; }

.sf-aside-popular-pages ul { margin: 8px 0px; padding: 0px; }

.sf-aside-popular-pages li { list-style: none; padding: 4px 0px; margin: 0px; color: rgb(63, 168, 223); }

.sf-search-results-wrapper .elementor-grid { display: block; padding-right: 40px; }

.sf-search-results-wrapper .hentry { min-height: auto; border-bottom: 1px solid rgb(227, 227, 227); }

.sf-search-results-wrapper .hentry:first-child { border-top: 1px solid rgb(227, 227, 227); }

.sf-search-results-wrapper .elementor-post__text { padding-left: 0px !important; padding-right: 60px !important; }

.sf-search-results-wrapper .elementor-post__text::after { display: block; content: ""; background: url("data:image/svg+xml;utf8;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDA3LjQzNiA0MDcuNDM2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MDcuNDM2IDQwNy40MzY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSJyZ2IoNjMsMTY4LDIyMykiIHBvaW50cz0iMTEyLjgxNCwwIDkxLjU2NiwyMS4xNzggMjczLjUxMiwyMDMuNzE4IDkxLjU2NiwzODYuMjU4IDExMi44MTQsNDA3LjQzNiAzMTUuODY5LDIwMy43MTgiLz48L3N2Zz4="); width: 24px; height: 24px; position: absolute; top: 50%; right: 0px; }

.sf-search-results-wrapper .elementor-pagination { margin-top: 60px; }
