@charset "utf-8";

.park-map-widget { display: none; width: 100%; height: 347px; }

@media (min-width: 768px) {
  .park-map-widget { display: block; }
}

.park-map-widget__content { background: url("/wp-content/themes/sixflags/assets/img/us-map.svg") center center no-repeat; height: 100%; position: relative; width: 530px; margin: auto; }

.park-map-widget__content .map-elements { height: 100%; width: 100%; }

.park-map-widget__content .map-elements-wrapper { position: absolute; width: 35px; height: 48px; }

.park-map-widget__content .map-elements-wrapper:hover .map-elements-wrapper__state-info { display: block; }

.park-map-widget__content .map-elements-wrapper__park-icon { width: 100%; height: 100%; background: url("/wp-content/themes/sixflags/assets/img/map-marker-alt.svg") center center no-repeat; position: relative; }

.park-map-widget__content .map-elements-wrapper__state-info { bottom: 60%; left: 50%; position: absolute; z-index: 300; width: 270px; min-height: 110px; background-color: rgb(255, 255, 255); display: none; padding: 12px; border: 1px solid rgb(227, 227, 227); box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0px; }

.park-map-widget__content .map-elements-wrapper__state-info .card-title { font-family: "open sans"; font-size: 1.125rem; text-align: center; margin-bottom: 7px; text-transform: capitalize; line-height: normal; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row { display: flex; padding: 5px 0px; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row__container { text-decoration: none; display: inline-flex; width: 100%; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row__container .card-img-wrapper { width: 17%; margin-right: 10px; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row__container .card-img-wrapper .card-img { width: 100%; height: auto; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row__container .card-cta { display: flex; justify-content: center; align-items: center; line-height: normal; border-radius: 24.5px; border: 1px solid rgb(27, 103, 236); font-family: inherit; font-size: 0.875rem; font-weight: 600; color: rgb(27, 103, 236); text-align: center; padding: 8px 0px; width: 83%; }

.park-map-widget__content .map-elements-wrapper__state-info .card-body .park_row__container .card-cta:hover { background-color: rgb(27, 103, 236); color: rgb(255, 255, 255); text-decoration: underline; }

.map-elements-wrapper.lake-george .map-elements-wrapper__state-info { bottom: -25%; }

.map-elements-wrapper.montreal-quebec .map-elements-wrapper__state-info { bottom: 10%; }

.map-elements-wrapper.buffalo .map-elements-wrapper__state-info { bottom: 30%; }
