@charset "utf-8";

.elementor-kit-47628 { --e-global-color-primary:#D8372F; --e-global-color-secondary:#000000; --e-global-color-text:#000000; --e-global-color-accent:#5AA5DC; --e-global-color-1b756e87:#4054B2; --e-global-color-7ec50c4b:#23A455; --e-global-color-60d6b815:#000; --e-global-color-68a3ee0d:#FFF; --e-global-color-42f10b88:#020101; --e-global-color-6a5c35f1:#F0F2F5; --e-global-color-cdd8283:#F3F3F3; --e-global-color-1d49f3b5:#EDEDE9; --e-global-color-68212e90:#D80000; --e-global-color-4c0c0953:#009BDF; --e-global-color-16d9feda:#00A2D2; --e-global-color-452dd72d:#9F9178; --e-global-color-5e5548da:#F97109; --e-global-color-3aa79067:#E3E3E3; --e-global-color-37d9e240:#0099FF; --e-global-color-688397a6:#009C49; --e-global-color-d1280b0:#FFF; --e-global-color-98fbf77:#F8F5F55C; --e-global-color-9fba951:#F6CA56; --e-global-color-39c06c9:#8B62A3; --e-global-color-cc9ad2d:#E4813B; --e-global-color-fdab641:#4498DA; --e-global-color-655302a:#7BBC55; --e-global-color-57b1b19:#24589C; --e-global-typography-primary-font-weight:600; --e-global-typography-secondary-font-family:"Open Sans"; --e-global-typography-secondary-font-weight:400; --e-global-typography-text-font-family:"Open Sans"; --e-global-typography-text-font-weight:400; --e-global-typography-accent-font-family:"Open Sans"; --e-global-typography-accent-font-weight:500; font-size: 16px; line-height: 1.375em; letter-spacing: -0.2px; }

.elementor-kit-47628 h1 { font-size: 48px; font-weight: 700; line-height: 1em; letter-spacing: 0.7px; }

.elementor-kit-47628 h2 { font-size: 32px; font-weight: 700; line-height: 1.125em; letter-spacing: 0.5px; }

.elementor-kit-47628 h3 { font-size: 24px; font-weight: 700; line-height: 1.25em; letter-spacing: 0.2px; }

.elementor-kit-47628 button, .elementor-kit-47628 input[type="button"], .elementor-kit-47628 input[type="submit"], .elementor-kit-47628 .elementor-button { font-size: 16px; font-weight: 600; }

.elementor-section.elementor-section-boxed > .elementor-container { max-width: 1500px; }

.e-container { --container-max-width:1500px; }

.elementor-widget:not(:last-child) { margin-bottom: 0px; }

.elementor-element { --widgets-spacing:0px; }

h1.entry-title { display: var(--page-title-display); }

@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container { max-width: 1024px; }
  .e-container { --container-max-width:1024px; }
}

@media (max-width: 1023px) {
  .elementor-section.elementor-section-boxed > .elementor-container { max-width: 767px; }
  .e-container { --container-max-width:767px; }
}
