@charset "utf-8";

.sf-ff-ticket-page .shadowing-card-placeholder { max-width: 425px; }

.sf-ff-ticket-page .showing-card-content p { margin: 0px; }

.sf-ff-ticket-page .shadowing { margin: 0px 10px; }

.sf-ff-ticket-page .shadowing:first-child { margin: 0px 58px 0px 0px; }

.sf-ff-ticket-page .shadowing:last-child { margin: 0px 0px 0px 58px; }

.sf-ff-ticket-page .shadowing img { width: 100%; border-top-right-radius: 10px; border-top-left-radius: 10px; }

.sf-ff-ticket-page .sf-rules-mobile-dots.show-dots-top { top: 70px; }

.sf-ff-ticket-page .sf-rules-mobile-dots.show-dots-top span { width: 18px; height: 18px; margin: 4px 10px; }

.sf-ff-ticket-page.tickets-make-flex > .elementor-container > .elementor-row { justify-content: unset; }

.sf-ff-ticket-page sup { top: -7px; font-size: 75%; }

.sf-ff-ticket-page small { font-weight: 400; font-size: 20px; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta { background: rgb(0, 0, 0); border-radius: 10px; margin: 0px 4px; transition: all 0.3s ease-out 0s; max-width: 201px; }

.sf-fright-ticket--passandtickets p a { color: rgb(255, 255, 255); }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta:first-child { margin-left: 15px; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta:last-child { margin-right: 15px; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta .elementor-column-wrap { min-height: 334px; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta:hover .elementor-widget-wrap { height: 105%; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta .elementor-widget-wrap { position: relative; transition: all 0.3s ease-out 0s; box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px; height: 334px; width: 201px; border-radius: 10px; padding: 52px 0px 0px !important; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-icon { position: absolute; top: 0px; left: 50%; transform: translate(-50%, -37%); background: rgb(0, 0, 0); width: 85px; height: 85px; margin-left: auto; margin-right: auto; border-radius: 55px; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-icon i, .elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-icon svg { position: absolute; top: 39%; left: 50%; color: rgb(255, 255, 255); font-size: 34px; transform: translate(-50%, -50%) !important; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-title .elementor-heading-title { font-size: 25px; font-weight: 700; padding: 0px 0px 22px; text-align: center; color: rgb(255, 255, 255); }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-payplan, .elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-payplan-price { text-align: center; color: rgb(0, 0, 0); }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-footer { position: absolute; bottom: 0px; left: 0px; right: 0px; cursor: pointer; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-footer a.elementor-button-link { padding: 26px 65px; font-weight: 600; width: 100%; border-radius: 0px 0px 10px 10px; background: rgb(214, 54, 46); text-decoration: none; }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-featured .sf-hero-cta-footer a { background: rgb(214, 54, 46); color: rgb(255, 255, 255); }

.elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-featured .sf-hero-cta-payplan, .elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta-featured .sf-hero-cta-payplan-price { color: rgb(255, 255, 255); font-style: italic; }

@media only screen and (min-width: 1025px) {
  .sf-ff-ticket-page .shadowing .elementor-column-wrap .elementor-widget-wrap .showing-card-title { padding: 0px; }
  .sf-ff-ticket-page sup { font-size: 33px; }
  .sf-ff-ticket-page small { margin: 0px 0px 0px -40px; }
}

@media screen and (max-width: 1024px) {
  .sf-ff-ticket-page.sf-horizontal-mobile .elementor-container { padding: 10px 0px; overflow-x: scroll; }
  .sf-ff-ticket-page.sf-horizontal-mobile .elementor-row { flex-wrap: nowrap; min-width: 1048px; }
  .sf-fright-ticket--passandtickets .elementor-inner-section > .elementor-container > .elementor-row { flex-flow: row nowrap; display: flex; justify-content: normal; padding-top: 115px; }
  .elementor-top-section.sf-fright-ticket--passandtickets .sf-hero-cta:hover .elementor-widget-wrap { height: 100%; }
  .elementor-top-section.sf-fright-ticket--passandtickets .elementor-row { column-gap: 8px; margin: 0px !important; }
  .tickets-make-flex > .elementor-container > .elementor-row { padding: 0px 5px; margin: 0px !important; }
  .ticket-active-grid p { margin: 0px !important; }
  .elementor .sf-ff-ticket-page .shadowing { min-width: 185px; max-height: 385px; }
  .sf-ff-ticket-page .shadowing .elementor-column-wrap .elementor-widget-wrap { justify-content: space-between !important; }
  .ticket-page-pass-card-btn .elementor-button-link { min-height: 62px; }
  .sf-ff-ticket-page .shadowing img { height: 122px; }
  .sf-ff-ticket-page.sf-horizontal-mobile > .elementor-container > .elementor-row { min-width: calc(100vw + 245px); justify-content: normal; }
  .ticket-page-pass-card-btn { margin-top: 1px; }
  .sf-ff-ticket-page .shadowing:first-child { margin: 0px 5px 0px 20px; }
  .sf-ff-ticket-page .shadowing:last-child { margin: 0px 20px 0px 5px; }
}
