@charset "utf-8";

.sf-fright-night--instagrub-copy-subtitle { max-width: 460px; }

.sf-fright-night--instagrub-copy-subtitle .elementor-heading-title { color: rgb(255, 255, 255); font-size: 25px; font-weight: 700; margin-bottom: 40px; }

.sf-fright-night--instagrub-copy-title { max-width: 460px; }

.sf-fright-night--instagrub-copy-title .elementor-heading-title { color: rgb(255, 255, 255); font-size: 55px; font-weight: 700; margin-bottom: 35px; }

.sf-fright-night--instagrub-copy-text { max-width: 460px; }

.sf-fright-night--instagrub-copy-text .elementor-heading-title { color: rgb(255, 255, 255); font-size: 18px; font-weight: 600; }

.sf-fright-night--instagrub-slider-wrapper { max-width: 794px; margin-top: 50px; }

.sf-fright-night--instagrub-slider-wrapper .swiper-slide-image { border-radius: 10px; }

.sf-fright-night--instagrub-slider-wrapper .swiper-button-disabled { }

.sf-fright-night--instagrub-slider-wrapper .elementor-swiper-button-next { right: -50px; }

.sf-fright-night--instagrub-slider-wrapper .elementor-swiper-button-prev { left: -51px; display: none; }

.sf-fright-night--instagrub-slider-wrapper .swiper-pagination { position: absolute; top: -50px; bottom: auto; }

.sf-fright-night--instagrub-slider-wrapper .swiper-pagination-bullet { background-color: rgb(214, 54, 46); width: 14px; height: 14px; opacity: 0.5; }

.sf-fright-night--instagrub-slider-wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active { opacity: 1; }

@media screen and (max-width: 1023px) {
  .sf-fright-night--instagrub-slider-wrapper { }
  .elementor > .elementor-inner > .elementor-section-wrap > .elementor-section.sf-fright-night--instagrub > .elementor-container > .elementor-row { margin: 0px; padding: 0px 25px; }
  .sf-fright-night--instagrub-slider-wrapper .elementor-swiper-button-prev { display: block; }
}

@media screen and (max-width: 848px) {
  .sf-fright-night--instagrub-slider-wrapper .elementor-swiper-button-prev, .sf-fright-night--instagrub-slider-wrapper .elementor-swiper-button-next { display: none; }
}

@media screen and (max-width: 479px) {
  .elementor > .elementor-inner > .elementor-section-wrap > .elementor-section.sf-fright-night--instagrub > .elementor-container > .elementor-row { margin: 0px; padding: 0px; }
  .sf-fright-night--instagrub-slider-wrapper .swiper-slide-image { border-radius: 0px; }
  .sf-fright-night--instagrub-copy-subtitle { max-width: 260px; }
  .sf-fright-night--instagrub-copy-subtitle .elementor-heading-title { color: rgb(255, 255, 255); font-size: 18px; font-weight: 700; margin-bottom: 30px; }
  .sf-fright-night--instagrub-copy-title { max-width: 260px; }
  .sf-fright-night--instagrub-copy-title .elementor-heading-title { color: rgb(255, 255, 255); font-size: 35px; font-weight: 700; margin-bottom: 25px; }
  .sf-fright-night--instagrub-copy-text { max-width: 320px; }
  .sf-fright-night--instagrub-copy-text .elementor-heading-title { color: rgb(255, 255, 255); font-size: 18px; }
  .sf-fright-night--instagrub-slider-wrapper { margin-top: 0px; }
  .sf-fright-night--instagrub-slider-wrapper .swiper-pagination { top: -35px; }
}
