@charset "utf-8";

.ast-hb-account-login-wrapper .ast-hb-account-login { position: fixed; left: 50%; top: 50%; padding: 35px; max-height: 550px; width: 340px; margin: 0px 0px 0px -170px; background-color: rgb(241, 241, 241); z-index: 1000011; box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px; }

.ast-hb-account-login-wrapper .ast-hb-account-login-bg { position: fixed; inset: 0px; background: rgb(0, 0, 0); opacity: 0.7; z-index: 1000010; transition: all 0.3s ease 0s; }

.ast-hb-account-login-wrapper .ast-hb-login-header .ast-hb-login-close { background: 0px 0px; border: 0px; font-size: 24px; line-height: 1; padding: 0.4em; color: inherit; display: flex; box-shadow: none; }

.ast-hb-account-login-wrapper #loginform input[type="password"], .ast-hb-account-login-wrapper #loginform input[type="text"] { width: 100%; max-width: 100%; margin-top: 10px; border: 1px solid; background-color: transparent; vertical-align: middle; }

.ast-hb-account-login-form-footer a.ast-header-account-footer-link:not(:last-child) span::after { content: "|"; margin: 0px 0.4em; }

.ast-header-account-wrap .ast-header-account-link { pointer-events: none; }

.ast-header-account-link.ast-account-action-link, .ast-header-account-link.ast-account-action-login, .ast-header-account-link.ast-account-action-login.customize-unpreviewable, .ast-header-break-point .ast-header-account-link { cursor: pointer; pointer-events: all; }

.ast-header-break-point .ast-hf-account-menu-wrap { display: none; }

.ast-header-account { display: flex; }

.ast-header-account-wrap .ast-hb-account-login-wrapper { visibility: hidden; }

.ast-header-account-wrap .ast-hb-account-login-wrapper .ast-hb-login-header { position: absolute; right: 0px; top: 0px; display: flex; justify-content: flex-end; min-height: calc(1.2em + 24px); }

.ast-header-account-wrap .ast-hb-account-login-wrapper .ast-hb-account-login { transform: scale(0.7); opacity: 0; transition: all 0.3s ease 0s; overflow: auto; }

.ast-header-account-wrap .ast-hb-account-login-wrapper.show { visibility: visible; }

.ast-header-account-wrap .ast-hb-account-login-wrapper.show .ast-hb-account-login { transform: scale(1) translateY(-50%); opacity: 1; }

.ast-hb-login-body { height: 100%; position: relative; line-height: 1.5; }

.ast-desktop .ast-hf-account-menu-wrap.ast-main-header-bar-alignment { position: relative; }

.ast-desktop .main-header-bar .main-header-bar-navigation .ast-account-nav-menu { line-height: 1.45; }

.ast-desktop .ast-account-nav-menu { width: 260px; background: rgb(255, 255, 255); left: -999em; position: absolute; top: 0px; z-index: 99999; list-style: none; margin: 0px; padding-left: 0px; border: 0px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px -2px; }

.ast-desktop .ast-account-nav-menu .sub-menu { right: auto; top: 0px; margin-left: 0px; }

.ast-desktop .ast-account-nav-menu .menu-item.focus > .sub-menu, .ast-desktop .ast-account-nav-menu .menu-item:hover > .sub-menu { left: 100%; }

.ast-desktop .ast-account-nav-menu .menu-item .menu-link { padding: 0.9em 1em; }

.ast-desktop .ast-account-nav-menu .menu-item { border-style: none; }

.ast-desktop .ast-account-nav-menu .menu-item.menu-item-has-children > .menu-link::after { position: absolute; right: 1em; top: 50%; transform: translate(0px, -50%) rotate(270deg); }

.ast-desktop .ast-above-header-bar .main-header-menu.ast-account-nav-menu > .menu-item, .ast-desktop .ast-below-header-bar .main-header-menu.ast-account-nav-menu > .menu-item, .ast-desktop .ast-primary-header-bar .main-header-menu.ast-account-nav-menu > .menu-item { height: auto; line-height: unset; }

.site-header-section-left .ast-header-account-wrap.focus .ast-account-nav-menu, .site-header-section-left .ast-header-account-wrap:hover .ast-account-nav-menu { left: -100%; right: auto; }

.ast-header-account-wrap.focus .ast-account-nav-menu, .ast-header-account-wrap:hover .ast-account-nav-menu { right: -100%; left: auto; }

.ast-header-account-wrap .woocommerce-MyAccount-navigation-link.is-active a { background: unset; }

.ast-header-account-wrap .menu-item:last-child > .menu-link { border-style: none; }

.ast-divider-wrapper { border: 0px; }

.ast-mobile-popup-content .ast-header-divider-element { justify-content: center; }

.ast-header-divider-element { position: relative; }

.ast-fb-divider-layout-vertical { position: relative; }

.ast-hb-divider-layout-vertical.ast-header-divider-element { height: 100%; }

.ast-mobile-header-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element), .ast-mobile-popup-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element) { padding: 15px 20px; }

.footer-widget-area .ast-footer-divider-element { position: relative; align-items: center; }

.footer-widget-area .ast-divider-wrapper { display: inline-block; }

.ast-builder-footer-grid-columns .ast-fb-divider-layout-horizontal { display: inline-flex; vertical-align: middle; }

[data-section*="section-fb-button-"] .ast-builder-button-size-xs .ast-custom-button, [data-section*="section-hb-button-"] .ast-builder-button-size-xs .ast-custom-button { font-size: 13px; padding: 8px 20px; }

[data-section*="section-fb-button-"] .ast-builder-button-size-sm .ast-custom-button, [data-section*="section-hb-button-"] .ast-builder-button-size-sm .ast-custom-button { font-size: 15px; padding: 10px 40px; }

[data-section*="section-fb-button-"] .ast-builder-button-size-md .ast-custom-button, [data-section*="section-hb-button-"] .ast-builder-button-size-md .ast-custom-button { font-size: 17px; padding: 15px 45px; }

[data-section*="section-fb-button-"] .ast-builder-button-size-lg .ast-custom-button, [data-section*="section-hb-button-"] .ast-builder-button-size-lg .ast-custom-button { font-size: 19px; padding: 20px 50px; }

[data-section*="section-fb-button-"] .ast-builder-button-size-xl .ast-custom-button, [data-section*="section-hb-button-"] .ast-builder-button-size-xl .ast-custom-button { font-size: 21px; padding: 25px 55px; }

.ast-fb-divider-layout-vertical { display: flex; }

.site-footer-section { position: relative; }

.ast-builder-language-switcher .ast-builder-language-switcher-menu { list-style: none; margin: 0px; padding: 0px; line-height: normal; -webkit-tap-highlight-color: transparent; }

.ast-builder-language-switcher-layout-vertical .ast-builder-language-switcher { display: block; }

.ast-builder-language-switcher-layout-vertical .ast-builder-language-switcher-menu { display: block; }

.ast-builder-language-switcher-layout-horizontal .ast-builder-language-switcher { display: flex; }

.ast-builder-language-switcher-layout-horizontal .ast-builder-language-switcher-menu { display: flex; flex-wrap: wrap; }

.ast-builder-language-switcher a { display: flex; align-items: center; }

.ast-lswitcher-item-footer, .ast-lswitcher-item-header { display: inline-flex; }

span.ast-lswitcher-item-footer:last-child, span.ast-lswitcher-item-header:last-child { margin-right: 0px; }

.main-header-bar-wrap .ast-search-box.header-cover { z-index: 7; }

.ast-below-header-wrap .ast-search-box.header-cover #close, .ast-below-header-wrap .ast-search-box.header-cover .search-field { font-size: 1.8em; }

.ast-below-header-wrap .ast-search-box.header-cover .search-submit { font-size: 1.5em; }

.ast-search-box.full-screen, .ast-search-box.header-cover { display: none; opacity: 0; transition: opacity 0.2s ease 0s; width: 100%; height: 100%; }

.ast-search-box.full-screen .search-field, .ast-search-box.header-cover .search-field { background: 0px 0px; border: 0px; color: rgb(250, 250, 250); box-shadow: none; text-align: left; padding: 0px; }

.ast-search-box.full-screen .search-submit, .ast-search-box.header-cover .search-submit { background: 0px 0px; padding: 0px; color: rgb(158, 158, 158); transition: all 0.7s ease-in 0s; outline: 0px; border: 0px; vertical-align: middle; }

.ast-search-box.full-screen .ast-search-wrapper, .ast-search-box.header-cover .ast-search-wrapper { position: absolute; width: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.ast-search-box.full-screen .ast-search-wrapper .search-form, .ast-search-box.header-cover .ast-search-wrapper .search-form { line-height: normal; }

.ast-search-box.full-screen #close, .ast-search-box.header-cover #close { color: rgb(250, 250, 250); transform: rotate(0deg); font-size: 2em; cursor: pointer; z-index: 9; font-weight: 400; }

.ast-search-box.full-screen .search-field::-webkit-input-placeholder, .ast-search-box.header-cover .search-field::-webkit-input-placeholder { color: rgb(250, 250, 250); }

.ast-search-box.header-cover { position: absolute; background: rgba(25, 25, 25, 0.94); top: 0px; z-index: 10; }

.ast-search-box.header-cover .search-field { font-size: 2em; line-height: 2; width: 100%; }

.ast-search-box.header-cover .ast-container { position: relative; }

.ast-search-box.header-cover .close, .ast-search-box.header-cover .search-submit, .ast-search-box.header-cover .search-text-wrap { display: inline-block; }

.ast-search-box.header-cover .search-text-wrap { width: calc(100% - 2.5em); vertical-align: middle; }

.ast-search-box.header-cover .search-submit { font-size: 1.7em; margin-right: 2em; }

.ast-search-box.header-cover #close { vertical-align: middle; backface-visibility: hidden; }

.ast-search-box.full-screen { position: fixed; background: rgba(25, 25, 25, 0.94); top: 0px; left: 0px; z-index: 999; }

.ast-search-box.full-screen .ast-search-wrapper .large-search-text { text-align: center; color: rgb(226, 226, 226); font-size: 1.5em; font-weight: 400; transition: all 0.3s ease-in-out 0s; }

.ast-search-box.full-screen .ast-search-wrapper fieldset { border-width: 0px 0px 2px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; padding: 2.5em 0px 1em; border-bottom-style: solid; border-bottom-color: rgb(158, 158, 158); }

.ast-search-box.full-screen .ast-search-wrapper .search-field { font-size: 2.6em; padding-left: 30px; line-height: 1.7; width: calc(100% - 1.5em); vertical-align: middle; text-align: center; }

.ast-search-box.full-screen .ast-search-wrapper .search-form { width: 70%; margin: 20px auto; }

.ast-search-box.full-screen .ast-search-wrapper .search-submit { font-size: 2em; }

.ast-search-box.full-screen #close { position: absolute; color: rgb(250, 250, 250); right: 1em; line-height: 1; cursor: pointer; z-index: 9; font-weight: 400; font-size: 2em; top: 1.5em; backface-visibility: hidden; }

.ast-search-box.full-screen ::-webkit-input-placeholder { opacity: 0; }

@media (max-width: 420px) {
  .ast-search-box.full-screen ::-webkit-input-placeholder { opacity: 1; }
}

.ast-hfb-header .ast-search-box.full-screen.full-screen ::-webkit-input-placeholder { opacity: 0.5; }

.site-header .ast-inline-search.ast-search-menu-icon .search-form { padding-left: 0px; padding-right: 2em; }

.site-header .ast-inline-search.ast-search-menu-icon .search-field { width: auto; padding-left: 1em; padding-right: 0px; }

.ast-inline-search.ast-search-menu-icon { position: relative; transform: none; left: 0px; right: 0px; }

.ast-inline-search.ast-search-menu-icon .search-submit { display: block; background: 0px 0px; border: none; position: absolute; height: 100%; right: 0.25em; padding: 0px; top: 0px; font-size: 1.3em; color: rgb(117, 117, 117); }

.ast-header-break-point .ast-inline-search.ast-search-menu-icon .search-form { padding: 0px; }

.ast-header-break-point .site-header .ast-inline-search.ast-search-menu-icon .search-field { width: 100%; padding-right: 2em; }

.ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.full-screen, .ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.header-cover { display: none; }

.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .ast-search-menu-icon .search-form { right: -1em; left: auto; padding-left: 0px; padding-right: 3em; }

.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .search-field { padding-right: 0px; padding-left: 1em; }

.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .ast-search-menu-icon .search-form { left: -1em; right: auto; padding-right: 0px; padding-left: 3em; }

.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .search-field { padding-left: 0px; padding-right: 1em; }

.ast-header-break-point .ast-above-header .ast-above-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field { padding-right: 0px; }

.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon .search-form { padding-left: 0px; left: auto; padding-right: 2em; }

.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon.slide-search .search-form { left: -1em; padding-left: 2em; }

.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-1 .search-field { padding-right: 0px; }

.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .search-field { padding-right: 0px; padding-left: 1em; }

.ast-header-break-point .ast-above-header-mobile-stack .ast-above-header .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form { right: auto; padding-right: 2em; }

.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon.ast-inline-search .search-form { left: 0px; padding-left: 0px; padding-right: 2em; }

.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .ast-search-menu-icon .search-form { right: -1em; left: auto; padding-left: 0px; padding-right: 3em; }

.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .search-field { padding-right: 0px; padding-left: 1em; }

.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .ast-search-menu-icon .search-form { left: -1em; right: auto; padding-right: 0px; padding-left: 3em; }

.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .search-field { padding-left: 0px; padding-right: 1em; }

.ast-header-break-point .ast-below-header .below-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field { padding-right: 0px; }

.ast-header-break-point .ast-swap-below-header-sections.site-header .ast-below-header .ast-inline-search.ast-search-menu-icon .search-field { padding-left: 1em; padding-right: 0px; }

.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon .search-form { left: -1em; padding-left: 3em; padding-right: 1em; }

.ast-below-header-mobile-stack .ast-below-header .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form { right: auto; padding-right: 2em; }

.iphone.full-screen, .ipod.full-screen { position: fixed !important; }

@media (max-width: 992px) {
  .ast-above-header-mobile-stack .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form { left: auto; }
  .ast-below-header-mobile-stack .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form { left: auto; }
}

@media (max-width: 544px) {
  .ast-search-box.full-screen .ast-search-wrapper .large-search-text { display: none; }
  .ast-search-box.full-screen .ast-search-wrapper .search-field, .ast-search-box.full-screen .ast-search-wrapper .search-submit { font-size: 1.6em; }
}
