@charset "utf-8";

.sf-no-padding .elementor-column-gap-default > .elementor-column > .elementor-element-populated { padding: 0px !important; }

.sf-park-banner-hide { display: none; }

.sf-park-banner { padding: 10px; }

.sf-park-banner { padding: 10px; }

.sf-park-banner span { text-align: center; padding: 0px; display: block; width: 100%; font-size: 16px; font-weight: 700; }

.sf-park-banner span:last-child { text-decoration: underline; }

.sf-park-banner span:last-child:hover { text-decoration: none; }

.header-mainmenu nav.elementor-nav-menu--dropdown.elementor-nav-menu__container.top-important-mobile { top: 126px !important; }

.marketing-banner_container { display: flex; flex-wrap: nowrap; left: 0px; padding: 10px; position: absolute; top: 0px; width: 100%; z-index: 2; }

.marketing-banner_container .main-content { width: calc(100% - 30px); }

.marketing-banner_container .close-button { width: 26px; }

.marketing-banner_container .close-button .marketing-banner_closeBtn { background-color: transparent; color: rgb(0, 0, 0); font-size: 1.25rem; padding: 0px; text-align: center; width: 100%; }

.marketing-banner_container .main-content .marketing-banner_mainlink { color: rgb(0, 0, 0); cursor: pointer; font-size: 1rem; font-weight: 600; text-decoration: none; }

.marketing-banner_container .main-content .marketing-banner_mainlink .link { color: rgb(0, 0, 0); text-decoration: underline; }

.marketing-banner_container .main-content .marketing-banner_mainlink .link:hover { text-decoration: none; }
