@charset "utf-8";

.sf-carousel .btn { border-radius: 2px; padding: 8px 12px; color: rgb(0, 86, 163); font-size: 26px; font-weight: 500; text-decoration: none; text-transform: uppercase; transition: all 0.5s ease 0s; }

.sf-carousel .card { background: rgb(255, 255, 255); box-sizing: border-box; padding: 20px; text-align: center; margin-left: 10px; margin-right: 10px; }

.sf-carousel .slides { position: relative; overflow: hidden; transition: all 0.5s ease 0s; }

.sf-carousel .slide { width: 100%; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: all 0.5s ease 0s; }

.sf-carousel .slide.active { opacity: 1; visibility: visible; }

.sf-carousel .footer { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: justify; justify-content: center; margin: 10px; }

.sf-carousel [ripple] { z-index: 1; position: relative; overflow: hidden; }

.sf-carousel [ripple] .ripple { position: absolute; background: rgb(255, 255, 255); width: 60px; height: 60px; border-radius: 100%; transform: scale(0); animation: 2s ease 0s 1 normal none running ripple; }

@-webkit-keyframes ripple { 
  0% { transform: scale(0); opacity: 0.2; }
  100% { transform: scale(20); opacity: 0; }
}

@keyframes ripple { 
  0% { transform: scale(0); opacity: 0.2; }
  100% { transform: scale(20); opacity: 0; }
}

@media only screen and (max-width: 767px) {
  .sf-carousel .elementor-container { display: none; }
}

@media only screen and (min-width: 768px) {
  .card { display: none; }
}

.sf-carousel .elementor-widget-sf-products-card { margin-bottom: 10px !important; }

.footer.carousel-footer .dot { margin: 0px 6px; display: inline-block; cursor: pointer; width: 10px; height: 10px; border-radius: 50%; opacity: 0.2; background-color: rgb(0, 0, 0); }

.footer.carousel-footer .dot.active { opacity: 1; }
