@charset "utf-8";

.bar_mix { background: rgb(255, 255, 255); }

.ubermenu-skin-clean-white { font-size: 12px; color: rgb(136, 136, 136); }

.ubermenu-skin-clean-white .ubermenu-target { color: rgb(153, 153, 153); }

.ubermenu-skin-clean-white .ubermenu-target-description { color: rgb(170, 170, 170); }

.ubermenu-skin-clean-white.ubermenu-responsive-toggle { background: rgb(255, 255, 255); color: rgb(136, 136, 136); font-size: 12px; text-transform: none; font-weight: 700; }

.ubermenu-skin-clean-white.ubermenu-responsive-toggle:hover { background: rgb(240, 240, 240); color: rgb(68, 68, 68); }

.ubermenu-skin-clean-white { border: none; background: rgb(255, 255, 255); }

.ubermenu-skin-clean-white .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target, .ubermenu-skin-clean-white .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target, .ubermenu-skin-clean-white .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target { color: rgb(170, 0, 0); background: 0px 0px; }

.ubermenu-skin-clean-white .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight { color: rgb(77, 144, 254); background: 0px 0px; }

.ubermenu-skin-clean-white.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target { background: rgb(255, 255, 255); }

.ubermenu-skin-clean-white .ubermenu-item-level-0 > .ubermenu-target { font-weight: 700; color: rgb(102, 102, 102); text-transform: none; border-left: none; }

body:not(.rtl) .ubermenu-skin-clean-white.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target { box-shadow: none; }

.ubermenu-skin-clean-white .ubermenu-item-level-0:hover > .ubermenu-target, .ubermenu-skin-clean-white .ubermenu-item-level-0.ubermenu-active > .ubermenu-target { background: rgb(249, 249, 249); color: rgb(17, 17, 17); }

.ubermenu-skin-clean-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target { color: rgb(102, 102, 102); }

.ubermenu-skin-clean-white .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover { color: rgb(17, 17, 17); }

.ubermenu-skin-clean-white .ubermenu-submenu.ubermenu-submenu-drop { background: rgb(249, 249, 249); border: 1px solid rgb(249, 249, 249); }

.ubermenu-skin-clean-white.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop { border-top: 1px solid rgb(249, 249, 249); }

.ubermenu-skin-clean-white .ubermenu-tab-content-panel { background: rgb(249, 249, 249); }

.ubermenu-skin-clean-white .ubermenu-submenu, .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-target { color: rgb(153, 153, 153); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-highlight { color: rgb(77, 144, 254); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-target:hover, .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-active > .ubermenu-target { color: rgb(17, 17, 17); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-target > .ubermenu-target-description { color: rgb(170, 170, 170); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description { color: rgb(102, 102, 102); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target { font-weight: 700; color: rgb(68, 68, 68); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target { border-bottom: 1px solid rgb(233, 233, 233); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover { color: rgb(34, 34, 34); }

.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-current-menu-item > .ubermenu-target { color: rgb(170, 0, 0); background: 0px 0px; }

.ubermenu-nojs.ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target, .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target { background: rgb(238, 238, 238); color: rgb(17, 17, 17); }

.ubermenu-skin-clean-white .ubermenu-tabs-group, .ubermenu-skin-clean-white .ubermenu-tab > .ubermenu-target, .ubermenu-skin-clean-white .ubermenu-tab-content-panel { border-color: rgb(238, 238, 238); }

.ubermenu-skin-clean-white .ubermenu-submenu-drop { border-bottom-width: 3px; }

.ubermenu-skin-clean-white.ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop { margin-top: 0px; }
