@charset "utf-8";

.css-17q09ew { position: relative; width: 255px; box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px; background: rgb(27, 103, 236); display: flex; padding: 0px 0.9em; -webkit-box-align: center; align-items: center; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; border-radius: 4px 4px 0px 0px; height: 40px; color: rgb(255, 255, 255); }

.css-17q09ew:hover { cursor: pointer; }

.css-17q09ew:focus { outline-style: auto; }
