@charset "utf-8";

.css-11h0104 { position: absolute; z-index: 1; left: 0px; right: 0px; bottom: 1px; transition: opacity 150ms cubic-bezier(0.33, 0, 0.67, 1) 50ms; display: flex; width: 24px; height: 24px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; opacity: 0; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; }
