@charset "utf-8";

.wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu, .wpml-ls-statics-shortcode_actions a { border-color: rgb(205, 205, 205); }

.wpml-ls-statics-shortcode_actions a { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); }

.wpml-ls-statics-shortcode_actions a:hover, .wpml-ls-statics-shortcode_actions a:focus { color: rgb(0, 0, 0); background-color: rgb(238, 238, 238); }

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); }

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language:hover > a, .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a:focus { color: rgb(0, 0, 0); background-color: rgb(238, 238, 238); }
