@charset "utf-8";

.css-1t5h7yy { margin: 1em 4px 1em 0px; -webkit-box-flex: 1; flex-grow: 1; font-weight: 700; font-size: 0.9em; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
