@charset "utf-8";

.sf-calendar .jet-calendar-week__day-content .elementor-widget-jet-listing-dynamic-field { font-size: 11px; width: auto !important; text-align: center !important; }

.tag-park_hours_template > div > section.elementor-section > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap { flex-direction: column; }

.sf-calendar .jet-calendar-week__day-content section section .elementor-column:first-child .elementor-widget-wrap { justify-content: flex-end; }

.jet-calendar-week__day:not(.has-events) .icon-flag-calendar { display: none; }

.modal-sf-events { z-index: 101 !important; }

.single-park.postid-628 .sf-header-top-alert { display: none !important; }

.card_title_gr .card-title { margin-bottom: 0px !important; }

.covid-banner .elementor-alert, .covid-banner .elementor-alert-description { font-size: 12px !important; }

.post-27696 .elementor-widget-sf-products-card .cta-container { margin: 18px; }

.listing-title.attraction-listing-widget h3.jet-listing-dynamic-field__content { font-size: 20px; margin-bottom: 10px; }

.listing-description.attraction-listing-widget .elementor-widget-container { margin-bottom: 0px !important; }

.eael-call-to-action.bg-lite { background: inherit; }

.iframe-lost-found { height: 1850px; }

@media (min-width: 768px) {
  .iframe-lost-found { height: 1300px; }
}

@media (min-width: 1200px) {
  .iframe-lost-found { height: 1300px; }
}
