@charset "utf-8";

.css-kvf2v3 { position: relative; display: flex; width: 24px; height: 24px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; }
