@charset "utf-8";

.entry-content p + ul { margin-top: -1.5rem; }

#primary { margin: 0px; background: rgb(255, 255, 255); padding: 0px !important; }

.hentry { margin-bottom: 0px; }

.elementor > .elementor-inner > .elementor-section-wrap > .elementor-section > .elementor-container > .elementor-row { margin: 0px 25px; }

@media (max-width: 767px) {
  .elementor > .elementor-inner > .elementor-section-wrap > .elementor-section > .elementor-container > .elementor-row { margin: 0px 10px; }
  .ast-container { max-width: 768px; padding: 0px; }
  #primary { float: none; width: auto; margin: 0px; padding: 0px; }
}

@media (min-width: 768px) {
  .ast-container { padding: 0px; }
  #primary { }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #primary { }
  .smartfilter-container * { border: none; }
  .smartfilter-container { max-width: 30%; margin-right: 15px; float: left; }
  .smartfilter-container select { width: 100%; }
  .smartfilter-container + section { float: left; max-width: 67%; }
  .smartfilter-container + section + section { float: left; width: 100%; }
}

.elementor-text-editor p:last-child { margin-bottom: 0px; }

.sf-btn-ada a { min-width: 170px; min-height: 49px; border-radius: 24.5px; border: solid 1px var(--e-global-color-primary); background-color: var(--e-global-color-primary); font-size: 1rem; font-weight: 600; text-align: center; color: rgb(255, 255, 255); }

.sf-btn-ada a:hover { text-decoration: underline; }

body .elementor-button-wrapper .elementor-button-link { white-space: nowrap; }

body .elementor-button-wrapper .elementor-button-text::after { content: ""; font-size: 0.75em; margin-left: 8px; font-family: six-flags !important; }

body .elementor-button-wrapper .elementor-button:focus { }

body .elementor-widget-posts .elementor-post__read-more:hover { text-decoration: underline; }

body .elementor-button.elementor-size-xs { font-size: 0.875rem; font-weight: 400; padding: 9px 20px 8px; min-height: 28px; min-width: 110px; }

@media screen and (min-width: 1024px) {
  body .elementor-button.elementor-size-xs { font-size: 1rem; min-width: 90px; }
}

body .elementor-widget-eael-cta-box .elementor-widget-container .cta-button.elementor-button-fullwidth, body .elementor-button.elementor-button-fullwidth { width: 100%; }

body .elementor-element .elementor-widget-eael-cta-box .elementor-widget-container .eael-call-to-action .cta-button:not(.cta-secondary-button) { background: var(--e-global-color-primary); color: rgb(255, 255, 255); }

body .elementor-element .elementor-widget-eael-cta-box .elementor-widget-container .eael-call-to-action .cta-button:not(.cta-secondary-button):hover, body .elementor-button-wrapper .elementor-button:hover { }

body .elementor-widget-posts .elementor-post__read-more { font-size: 1rem; padding: 8px; display: inline-block; box-shadow: none; width: 100%; border-radius: 18.2px; margin-bottom: 5px; font-weight: 400; text-align: center; color: rgb(255, 255, 255); background-color: var(--e-global-color-primary) !important; }

body .elementor-button.elementor-button-info:hover, body .elementor-element.elementor-button-info .elementor-button:hover { }

body .elementor-element.elementor-button-success .elementor-button { background: rgb(123, 188, 85); }

body .elementor-element.elementor-button-success .elementor-button:hover { background: rgb(90, 165, 220); }

body .elementor-element.elementor-button-info .elementor-button { background: 0px 0px; color: rgb(0, 0, 0); }

body .elementor-element.elementor-button-info .elementor-button:hover { background: 0px 0px; color: rgb(90, 165, 220); }

body .elementor-element.elementor-button-warning .elementor-button { background: 0px 0px; border: 2px solid rgb(216, 55, 47); color: rgb(216, 55, 47); }

body .elementor-element.elementor-button-warning .elementor-button:hover { background: 0px 0px; border: 2px solid rgb(90, 165, 220); color: rgb(90, 165, 220); }

body .elementor-element.elementor-button-danger .elementor-button { background: rgb(228, 129, 59); }

body .elementor-element.elementor-button-danger .elementor-button:hover { background: rgb(90, 165, 220); }

body .elementor-element.elementor-button-primary-link .elementor-button { background: 0px 0px; border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); }

body .elementor-element.elementor-button-primary-link .elementor-button:hover { background: 0px 0px; border: 2px solid rgb(246, 197, 68); color: rgb(246, 197, 68); }

body .elementor-element.elementor-button-secondary-link .elementor-button { background: 0px 0px; color: rgb(255, 255, 255); }

body .elementor-element.elementor-button-secondary-link .elementor-button:hover { background: 0px 0px; color: rgb(246, 197, 68); }

@media screen and (max-width: 768px) {
  body.single-park .elementor-widget-eael-cta-box .elementor-widget-container .eael-call-to-action { display: flex; flex-direction: column; }
  body .elementor-widget-eael-cta-box .elementor-widget-container .cta-button { margin: 0px auto; min-width: 70%; text-align: center; }
}

body .elementor-posts h2.elementor-post__title a { color: rgb(0, 0, 0); }

@media screen and (max-width: 768px) {
  .jet-calendar-grid td.jet-calendar-week__day { padding: 3px; }
  .jet-calendar-grid .jet-calendar-week__day-content { display: block !important; }
  .jet-calendar-grid .jet-calendar-week__day-content .jet-listing-dynamic-link__link, .jet-calendar-grid .jet-calendar-week__day-content .jet-listing-dynamic-field__content { font-size: 1rem; }
  .jet-calendar-grid .jet-calendar-week__day-content .elementor-widget-wrap.elementor-element-populated { padding: 5px; }
  .jet-calendar-grid .jet-calendar-week__day-mobile-trigger { border-radius: 50%; background-color: rgb(244, 123, 30) !important; }
}

.sf-hours-mobile { background: rgb(255, 255, 255); box-shadow: rgb(204, 204, 204) 0px 0px 10px; }

.sf-hours-mobile .elementor-column { width: 50% !important; }

.sf-hours-mobile .sf-hours-time .elementor-widget-wrap { padding-left: 0px !important; padding-right: 0px !important; }

.sf-hours-mobile .sf-hours-time .elementor-container > .elementor-inner-column:first-child::after { content: "-"; font-size: 1.5rem; }

.category-landing-listing .elementor-post { position: relative; padding-bottom: 45px; overflow: inherit; }

.category-landing-listing .elementor-post .elementor-post__read-more { position: absolute; bottom: 0px; }

.single-park .content-area.primary .cta-button { background: var(--e-global-color-secondary) !important; color: rgb(255, 255, 255) !important; }

.single-park .content-area.primary .cta-button:hover { text-decoration: underline; background-color: var(--e-global-color-secondary) !important; color: rgb(255, 255, 255) !important; }

.ast-single-post-order { display: none; }

body .ubermenu-fatfooter .ubermenu-item-has-children.ubermenu-item-level-2 > a.ubermenu-target:hover > .ubermenu-target-text { cursor: default; text-decoration: none; }

.eael-call-to-action h2.title, .elementor-posts h2.elementor-post__title { font-size: 1.75rem; font-weight: 700; margin-top: 10px; margin-bottom: 0px; }

@media screen and (min-width: 768px) {
  .eael-call-to-action h2.title, .elementor-posts h2.elementor-post__title { font-size: 2rem; margin-top: 0px; margin-bottom: 10px; }
}

.wp-faqp-main .wp-faqp-title { line-height: 1; margin: 0px; border-bottom: 1px solid rgb(212, 212, 212); display: flex; align-items: baseline; padding: 10px !important; }

body .wp-faqp-accordion.wp-faqp-design-1 .wp-faqp-main { background-color: rgb(255, 255, 255); }

.wp-faqp-main.wp-faqp-open .wp-faqp-title { border-bottom: none; }

.wp-faqp-main.wp-faqp-open .wp-faqp-cnt-wrp { border: 1px solid rgb(212, 212, 212); }

.wp-faqp-main .wp-faqp-title h4, .elementor-tab-title .elementor-toggle-title { font-weight: 700; text-transform: none; color: rgb(10, 10, 10); }

.wp-faqp-main .wp-faqp-title::before { content: ""; font-family: "font awesome 5 free"; font-weight: 900; margin-right: 10px; }

.wp-faqp-main.wp-faqp-open .wp-faqp-title::before { content: ""; }

.wp-faqp-accordion-list [data-accordion] > [data-control]::after { display: none; }

.wp-faqp-accordion .wp-faqp-main-wrp .wp-faqp-main .wp-faqp-title h4 { font-size: 14px !important; }

@media screen and (min-width: 768px) {
  .wp-faqp-accordion .wp-faqp-main-wrp .wp-faqp-main .wp-faqp-title h4 { font-size: 16px !important; }
}

.wp-faqp-accordion .wp-faqp-main, .wp-faqp-cat-title { margin-bottom: 0px !important; }

.wp-faqp-main-wrp { margin-bottom: 30px; }

.wp-faqp-accordion .wp-faqp-main .wp-faqp-title:focus-visible h4 { outline: dotted 1px !important; }

.elementor-toggle-item .elementor-tab-content { border: 1px solid rgb(212, 212, 212); }

.covid-banner .elementor-alert { background: rgb(255, 255, 255); border: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 0.875rem; line-height: 1.15rem; }

.covid-banner .elementor-alert-description { font-size: 0.875rem; margin-top: 4px; }

.header-mainmenu .header-menu-close::before { content: "" !important; }

@media screen and (min-width: 970px) {
  .header-mainmenu .header-menu-close { display: none; }
}

@media screen and (min-width: 1025px) {
  .sf-page-hero img { max-height: 380px; object-fit: contain; object-position: center center; }
  .sf-page-hero.full-img img { object-fit: cover; }
  .sf-img-events-card img { max-height: 380px; }
}

.sf-text--red, .sf-text--red p, .sf-text--red a { color: var(--e-global-color-primary); }

#primary .sf-text--decoration a { text-decoration: underline; color: var(--e-global-color-secondary); }

#primary .sf-text--decoration a:hover { text-decoration: none; }

#primary .sf-text--decoration.sf-text-primary a { color: var(--e-global-color-secondary); }

#primary .sf-text--decoration.sf-text-secondary a { color: rgb(0, 0, 0); }

.elementor-widget-container p a, .elementor-widget-container .elementor-text-editor a { text-decoration: underline; color: var(--e-global-color-secondary); }

.elementor-widget-container p a:hover, .elementor-image .elementor-widget-container .elementor-text-editor a:hover { text-decoration: none; }

.elementor-posts .elementor-post__excerpt p { margin: 0px; line-height: 1.5em; font-size: 1rem; color: rgb(0, 0, 0); }

.sf-search-popular-wrapper .menu-link, .sf-search-popular-wrapper .ubermenu-target { color: var(--e-global-color-secondary); text-decoration: underline; }

.sf-search-popular-wrapper .menu-link:hover, .sf-search-popular-wrapper .ubermenu-target:hover { text-decoration: none; }

@media screen and (max-width: 767px) {
  .covid-banner-container { max-height: 90px; }
  .elementor-alert-description { overflow-y: scroll; max-height: 50px; }
}

.elementor-post__read-more:focus { outline: rgb(0, 0, 0) dotted 2px; transition: outline 0.1s linear 0s; }

.swiper-slide a:focus .swiper-slide-image { outline: rgb(0, 0, 0) dotted 2px; transition: outline 0.1s linear 0s; }

.skip-link.screen-reader-text:focus { outline: rgb(0, 0, 0) dotted 2px; transition: outline 0.1s linear 0s; clip-path: none; overflow: auto; }

button.uael-video-wistia-play:focus { outline: rgb(44, 196, 255) solid 2px; transition: outline 0.1s linear 0s; box-shadow: rgb(44, 196, 255) 0px 0px 5px !important; }

.sf-wistia-text { position: absolute; top: 600px; left: 5%; transform: translateY(-110%); }

@media (max-width: 767px) {
  #main section.sf-wistia-slider-hero { margin: -4px 0px 0px; max-height: 432px; overflow: hidden; }
}

@media (min-width: 768px) {
  #main section.sf-wistia-slider-hero { margin: -50px 0px 0px; max-height: 600px; overflow: hidden; }
}

.sf-product-cta { cursor: pointer; }

body ul li { margin-top: 5px; }
