@charset "utf-8";

body .elementor-widget-sf-products-card-enhanced .product-card .modal-container { z-index: 999; }

.sf-modal-body { display: flex; width: 100%; min-height: 350px; height: auto; }

.elementor-widget-sf-products-card-enhanced .product-card .sf-modal-content .sf-modal-title { padding-right: 15px; margin: 30px 0px 25px; text-align: left; }

.sf-modal-image { width: 50%; background-position: center center; background-repeat: no-repeat; background-size: cover; }

.elementor-widget-sf-products-card-enhanced .product-card .sf-modal-content { width: 50%; padding: 15px; display: flex; flex-direction: column; justify-content: normal; }

.elementor-widget-sf-products-card-enhanced .product-card p.sf-modal-description_short, .elementor-widget-sf-products-card-enhanced .product-card div.long-popup-description *, body > div.elementor-widget-sf-products-card-enhanced.modal-attractions-popup > div > div > div > div > div > div.sf-modal-content > h3 { text-align: left; }

.long-popup-description { overflow-y: auto; height: 230px; }

.view-more-popup { text-align: left; display: block; text-decoration: underline; cursor: pointer; margin-top: 25px; }

.elementor-widget-sf-products-card-enhanced .product-card .sf-sponsor-content { display: flex; flex-direction: column; align-items: start; margin-top: auto; }

.elementor-widget-sf-products-card-enhanced .product-card .sf-sponsor-content h5 { font-weight: 700; margin: 20px 0px 10px; }

.modal-attractions-popup .product-card .modal-container .modal-close { position: absolute; top: 5%; right: 2%; color: rgb(136, 130, 130); font-weight: 400; }

.modal-attractions-popup .product-card .modal-container .sf-maze-requiered { margin-top: 25px; font-style: italic; }

@media (max-width: 425px) {
  .sf-modal-image { display: none; }
  .elementor-widget-sf-products-card-enhanced .product-card .sf-modal-body { flex-direction: column; }
  .elementor-widget-sf-products-card-enhanced .product-card .sf-modal-content { width: 100%; }
  .sf-modal-title { margin: 20px 0px; }
}
