@charset "utf-8";

.elementor-42993 .elementor-element.elementor-element-d26aefd:not(.elementor-motion-effects-element-type-background), .elementor-42993 .elementor-element.elementor-element-d26aefd > .elementor-motion-effects-container > .elementor-motion-effects-layer { background-color: rgb(198, 42, 28); }

.elementor-42993 .elementor-element.elementor-element-d26aefd { transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s; color: rgb(255, 255, 255); padding: 15px 0px; }

.elementor-42993 .elementor-element.elementor-element-d26aefd > .elementor-background-overlay { transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s; }

.elementor-42993 .elementor-element.elementor-element-f60dbc0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) { margin-bottom: 0px; }

.elementor-42993 .elementor-element.elementor-element-35fc662 { margin-top: 0px; margin-bottom: 20px; padding: 0px; }

.elementor-bc-flex-widget .elementor-42993 .elementor-element.elementor-element-16dac4e5.elementor-column .elementor-column-wrap { align-items: flex-end; }

.elementor-42993 .elementor-element.elementor-element-16dac4e5.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap { align-content: flex-end; align-items: flex-end; }

.elementor-42993 .elementor-element.elementor-element-16dac4e5 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) { margin-bottom: 0px; }

.elementor-42993 .elementor-element.elementor-element-5a22d162 .elementor-nav-menu--main .elementor-item { padding-left: 10px; padding-right: 10px; }

.elementor-bc-flex-widget .elementor-42993 .elementor-element.elementor-element-4251322.elementor-column .elementor-column-wrap { align-items: center; }

.elementor-42993 .elementor-element.elementor-element-4251322.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-42993 .elementor-element.elementor-element-4251322.elementor-column > .elementor-column-wrap > .elementor-widget-wrap { justify-content: center; }

.elementor-42993 .elementor-element.elementor-element-45161b68 > .elementor-widget-container { margin: 0px; padding: 0px; }

.elementor-42993 .elementor-element.elementor-element-45161b68 { width: 100%; max-width: 100%; align-self: center; }

.elementor-42993 .elementor-element.elementor-element-2cb9b20c { text-align: center; color: rgb(255, 255, 255); font-size: 14px; }

.uamodal-7fcf7c47 .uael-content { width: 500px; background-color: rgb(255, 255, 255); }

.uamodal-7fcf7c47 .uael-overlay { background: rgba(0, 0, 0, 0.75); }

.uamodal-7fcf7c47 .uael-modal-close { font-size: 20px; line-height: 20px; height: 20px; width: 20px; }

.uamodal-7fcf7c47 .uael-modal-close i, .uamodal-7fcf7c47 .uael-modal-close svg { font-size: 20px; line-height: 20px; height: 20px; width: 20px; }

.uamodal-7fcf7c47 .uael-modal-close i { color: rgb(0, 0, 0); }

.uamodal-7fcf7c47 .uael-modal-close svg { fill: rgb(0, 0, 0); }

.elementor-42993 .elementor-element.elementor-element-7fcf7c47 .uael-modal-action-wrap { text-align: center; }

.uamodal-7fcf7c47 .uael-modal-title-wrap { text-align: left; padding: 15px 25px; }

.uamodal-7fcf7c47 .uael-content .uael-modal-content-data { padding: 25px; }

.elementor-42993 .elementor-element.elementor-element-7fcf7c47 .uael-modal-action { color: rgb(255, 255, 255); }

.elementor-42993 .elementor-element.elementor-element-7fcf7c47 .uael-modal-action:hover { color: rgb(200, 200, 200); }

.elementor-42993 .elementor-element.elementor-element-7fcf7c47 > .elementor-widget-container { border-style: solid; border-color: rgb(255, 255, 255); }

@media (max-width: 1024px) {
  .elementor-42993 .elementor-element.elementor-element-d26aefd { padding: 30px 20px; }
  .elementor-42993 .elementor-element.elementor-element-540c0de5 { text-align: center; }
  .elementor-42993 .elementor-element.elementor-element-540c0de5 img { width: 200px; }
  .uamodal-7fcf7c47 .uael-content { width: 500px; }
}

@media (max-width: 1023px) {
  .elementor-42993 .elementor-element.elementor-element-d26aefd { padding: 30px 0px 0px; }
  .elementor-42993 .elementor-element.elementor-element-f60dbc0 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-35fc662 { margin-top: 0px; margin-bottom: 0px; padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-16dac4e5 > .elementor-element-populated { margin: 0px; --e-column-margin-right:0px; --e-column-margin-left:0px; }
  .elementor-42993 .elementor-element.elementor-element-16dac4e5 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-540c0de5 img { width: 175px; max-width: 175px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-framed .elementor-item::before { border-width: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-framed.e--animation-draw .elementor-item::before { border-width: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-framed.e--animation-draw .elementor-item::after { border-width: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-framed.e--animation-corners .elementor-item::before { border-width: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-framed.e--animation-corners .elementor-item::after { border-width: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-underline .elementor-item::after, .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-overline .elementor-item::before, .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-double-line .elementor-item::before, .elementor-42993 .elementor-element.elementor-element-5a22d162 .e--pointer-double-line .elementor-item::after { height: 0px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .elementor-nav-menu--main .elementor-item { padding: 10px; }
  .elementor-42993 .elementor-element.elementor-element-5a22d162 > .elementor-widget-container { margin: 0px; padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-509b400b { padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-4251322 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-42993 .elementor-element.elementor-element-45161b68 { align-self: center; }
  .uamodal-7fcf7c47 .uael-content { width: 300px; }
  .elementor-42993 .elementor-element.elementor-element-7fcf7c47 > .elementor-widget-container { border-width: 0px; }
}

@media only screen and (max-width: 1023px) {
  .elementor-42993 .elementor-element.elementor-element-5a22d162 .elementor-nav-menu { flex-direction: column; align-items: center; }
}

.elementor-42993 .elementor-element.elementor-element-45161b68 .sf-social-icons { text-align: center !important; margin: 0px !important; }

.elementor-42993 .elementor-element.elementor-element-45161b68 a { color: rgb(255, 255, 255); }
