@charset "utf-8";

.header-mainmenu.header-national-mainmenu { top: 0px; height: auto; }

.header-mainmenu.header-national-mainmenu .header-menu-wrapper { height: 60px !important; }

.header-mainmenu.header-national-mainmenu nav.elementor-nav-menu--dropdown.elementor-nav-menu__container { top: 49.5px !important; }

.mobile_park_location { display: none !important; }

@media (max-width: 767px) {
  .sf-national-mobile-section { position: relative; margin-left: -10px; margin-right: -10px; }
  .sf-national-mobile-section::before { content: " "; position: absolute; inset: 0px; z-index: 1; background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 100%); }
}
