@charset "utf-8";

.sf-social-icons .ubermenu-content-block { padding: 0px !important; }

.sf-social-icons { text-align: right; margin-top: 70px; }

.sf-social-icons-mysixflags { color: rgb(255, 255, 255); margin-top: 7px; font-size: 30px; }

.sf-social-icons h4 { color: rgb(255, 255, 255); font-size: 1rem; font-weight: 700; padding-bottom: 10px; }

.sf-social-icons a { color: rgb(255, 255, 255); display: inline-block; margin: 0px 25px 8px 0px; text-align: center; font-size: 40px; transition: all 0.2s ease 0s; }

.sf-social-icons a:hover { color: rgb(0, 0, 0) !important; }

.sf-social-icons a:last-of-type { margin-right: 0px; }

.sf-card-button a.cta-button { display: flex; justify-content: center; min-width: auto; text-align: center; }

a.cta-button:focus-visible { outline: rgb(0, 0, 0) dotted 1px !important; }

.sf-listing-img .elementor-image { max-height: 122px; max-width: 218px; overflow: hidden; }

.sf-card-img .elementor-image { width: 100%; overflow: hidden; max-height: 215px; }

@media only screen and (max-width: 1024px) {
  .sf-social-icons-mysixflags { font-size: 18px; }
}

@media only screen and (min-width: 768px) {
  .sf-card-img .elementor-image { max-height: 150px; }
}

.sf-card-container .sf-card-item .eael-call-to-action { display: flex; flex-direction: column; justify-content: flex-start; }

.sf-card-container .sf-card-item .eael-call-to-action a.cta-button { margin-top: auto; }

.banner-home .elementor-image { height: 100px; overflow: hidden; }

@media screen and (min-width: 768px) {
  .banner-home .elementor-image { height: 320px; }
}

.sf-btn-ada a { min-width: 170px; min-height: 49px; border-radius: 24.5px; border: 1px solid rgb(27, 103, 236); background-color: rgb(27, 103, 236); font-size: 1rem; font-weight: 600; text-align: center; color: rgb(255, 255, 255); margin: 0px auto; }

.sf-btn-ada a:hover { opacity: 0.5; }

.sf-border-gray { border: 1px solid rgb(227, 227, 227); }

.helpie-faq.accordions .accordion { border: 1px solid rgb(227, 227, 227); }

.sf_calendar_active_day { background: rgb(255, 198, 13) !important; }

.sf-btn-info a { min-width: 170px; min-height: 40px; border-radius: 24.5px; border: 2px solid rgb(27, 103, 236); background-color: transparent; font-size: 1rem; font-weight: 600; text-align: center; color: rgb(27, 103, 236); width: 100%; }

.sf-btn-info a:hover { opacity: 0.5; }

.sf-card-h-100, .sf-card-h-100 .elementor-widget-container, .sf-card-h-100 .elementor-widget-container .eael-call-to-action { height: 100%; }

@media screen and (min-width: 768px) {
  .sf-card-btn-bottom-0 .elementor-widget-container .eael-call-to-action { display: flex; flex-direction: column; }
  .sf-card-btn-bottom-0 .elementor-widget-container .eael-call-to-action a { margin: auto auto 0px; }
}

.sf-cover-img { min-height: 125px; }

@media screen and (min-width: 768px) {
  .sf-cover-img { min-height: 225px; }
}

@media screen and (min-width: 1025px) {
  .sf-cover-img { min-height: 272px; }
}

.sf-cover-img, .sf-cover-img .elementor-widget-container, .sf-cover-img .elementor-widget-container .elementor-image, .sf-cover-img .elementor-widget-container .elementor-image img { height: 100%; }

.sf-cover-img .elementor-widget-container .elementor-image { position: relative; }

.sf-cover-img .elementor-widget-container .elementor-image img { position: absolute; object-fit: cover; object-position: center center; top: 0px; left: 0px; }

.sf-text-break { overflow-wrap: break-word; }

.sf-national-home-height { min-height: calc(100vh - 203px); display: flex; align-items: center; }

.sf-mx-5 { margin-left: 5%; margin-right: 5%; }

.sf-calendar .jet-calendar-week__day, .jet-calendar-week__day-content { text-align: center; padding: 0px !important; }

.sf-calendar .jet-calendar-week__day-header { margin: 8px 8px 0px 0px; }

.sf-calendar .jet-calendar-week__day-content .elementor-column-gap-default > .elementor-column > .elementor-element-populated { padding: 0px !important; }

.sf-calendar .jet-calendar-week__day-content .jet-listing-dynamic-field__content { text-align: center !important; }

.sf-custom-container-national { max-width: 1015px; margin-left: auto; margin-right: auto; }

.sf-national-map-col { }

@media (max-width: 1024px) {
  .sf-newsletter-iframe { margin: auto; width: auto !important; }
}

.elementor-slideshow__title { display: none; }

.jet-calendar-nav__link:focus-visible { outline: rgb(0, 0, 0) dotted 1px !important; }

.elementor-alert-dismiss:focus-visible { outline: rgb(0, 0, 0) dotted 1px !important; }

.sf-w-auto { width: auto !important; }

.sf-break-word { word-break: break-word; }

.sf-font-weight-600 { font-weight: 600; }

.sf-font-weight-700 { font-weight: 700; }

.sf-text-center { text-align: center; }

.sf-text-color-white h6 { color: rgb(255, 255, 255); }

.sf-translate-y-100 { transform: translateY(100%); }

.sf-position-absolute { position: absolute; top: 0px; left: 0px; }

.sf-bg-cover .elementor-background-overlay { background-repeat: no-repeat; background-size: cover; }

@media (min-width: 768px) and (max-width: 1023px) {
  .sf-custom-md-breakpoint .elementor-container { min-height: 400px !important; }
}

.jet-listing-grid.jet-listing a:focus { outline: rgb(44, 196, 255) solid 1px; z-index: 50; transition: outline 0.1s linear 0s; box-shadow: rgb(44, 196, 255) 0px 0px 5px !important; }

.sf-outline { outline: rgb(44, 196, 255) solid 2px; z-index: 50; transition: outline 0.1s linear 0s; box-shadow: rgb(44, 196, 255) 0px 0px 5px !important; }

a.elementor-button:focus { outline: rgb(0, 0, 0) solid 2px; transition: outline 0.1s linear 0s; }

.sf-d-block { display: block !important; }

td.jet-calendar-week__day.has-events:focus { outline: rgb(44, 196, 255) solid 2px; z-index: 50; transition: outline 0.1s linear 0s; box-shadow: rgb(44, 196, 255) 0px 0px 5px !important; }

.sf-obj-cover img { width: 100%; height: 200px; object-fit: cover; }

.sf-obj-cover a { width: 100%; }

.att-category-load-more a.elementor-button-link { text-decoration: underline; }

.att-category-load-more a.elementor-button-link:hover { text-decoration: none; }

@media (min-width: 1025px) {
  .vertical-center .elementor-element-populated { display: flex; align-items: center; }
}

.sf-d-none { display: none !important; }

.listing-title.attraction-listing-widget h3.jet-listing-dynamic-field__content { font-size: 20px; margin-bottom: 10px; }

.listing-description.attraction-listing-widget .elementor-widget-container { margin-bottom: 0px !important; }

.sf-text-left { text-align: left; }

.sf-text-right { text-align: right; }

.sf-d-flex { display: flex; }

.sf-justify-content-between { justify-content: space-between; }

.sf-my-10, .sf-my-10 p { margin-bottom: 10px; margin-top: 10px; }

.sf-small-text { font-size: 0.75rem; }

.attraction-category-tiles .jet-listing-grid__item .attraction-ff-card { display: none; }

.attraction-category-tiles .jet-listing-grid__item:nth-child(-n+3) .attraction-ff-card { display: block; }

.iframe-lost-found { height: 1850px; }

@media (min-width: 768px) {
  .iframe-lost-found { height: 1300px; }
}

@media (min-width: 1200px) {
  .iframe-lost-found { height: 1300px; }
}

.sf-mt-1 { margin-top: 10px; }

.sf-ticket-card::before { content: ""; background: rgb(255, 255, 255); transform: rotate(90deg) translateY(50%); position: absolute; left: -1px; top: 50%; width: 40px; height: 20px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-width: 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-left-style: solid; border-image: initial; border-bottom-style: initial; z-index: 1; border-color: inherit; }

.sf-ticket-card { border-color: rgb(227, 227, 227); border-style: solid; border-width: 1px 1px 3px; }

.sf-ticket-card::after { content: ""; background: rgb(255, 255, 255); transform: rotate(90deg) translateY(-50%); position: absolute; right: -1px; top: 50%; width: 40px; height: 20px; border-bottom-left-radius: 100px; border-bottom-right-radius: 100px; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-image: initial; border-top-style: initial; z-index: 1; border-color: inherit; }

.sf-ticket-highlighted { border-color: rgb(8, 121, 0); }
