@charset "utf-8";

.btn-buy-now { min-width: 170px; border-radius: 25px; font-size: 1rem; line-height: 1.1em; font-weight: 600; padding: 13px 40px 12px; background: rgb(0, 156, 73); border: 0px; color: rgb(255, 255, 255); min-height: 40px; }

.tab a:first-child { border-top-left-radius: 25px; border-bottom-left-radius: 25px; }

.tab a:last-child { border-top-right-radius: 25px; border-bottom-right-radius: 25px; }

.tab { margin-top: 10px; overflow: hidden; }

.tab a { background-color: rgb(255, 255, 255); float: left; border: none; outline: none; cursor: pointer; padding: 10px 13.8px; transition: all 0.3s ease 0s; font-size: 0.875rem; color: rgb(0, 0, 0); }

.tab a.active { background-color: rgb(27, 103, 236); }

.tabcontent { display: none; padding: 6px 12px; border-top: none; }

.sf-membership-grid .elementor-column { border-right: 1px solid rgb(241, 241, 241); border-bottom: 1px solid rgb(241, 241, 241); }

.sf-membership-grid header.elementor-section-boxed { border-bottom: 1px solid rgb(241, 241, 241); }

.sf-membership-grid div.elementor-section-boxed { border-left: 1px solid rgb(241, 241, 241); }

.sf-membership-grid .elementor-column-gap-wide > .elementor-column > .elementor-element-populated { padding: 8px 20px; }

.sf-membership-grid-heading .elementor-column { border: none !important; }

.sf-membership-grid-footer .elementor-column { border: none !important; }

.sf-membership-grid-caption .elementor-column { border: none !important; }
